
.NavWrapper {
  position: sticky;
  top: 0;
}

.NavBar {
  width: 100%;
  background-color: #222;
  border-bottom: 1px solid #5a5a5a;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavIcon {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 1px;
}

.NavIcon Image {
  vertical-align: middle;;
  width: 33.35px;
  height: 27.5px;
}

.NavLinks {
  list-style: none;
  display: flex;
}

.NavButton a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
}

.NavButton:hover {
  background-color: #e91d63;
}

.NavButton:hover a {
  color: #000
}

@media only screen and (max-width: 600px) {
  .NavBar,
  .NavLinks {
    align-items: flex-start;
    flex-direction: column;
  }
  .NavButton a{
    margin-left: 0;
  }
  .NavButton:hover {
    background-color: #222;
  }
  .NavButton:hover a {
    color: inherit;
  }
}

.Wrap {
  position: absolute;
  bottom: 0;
}

.ProgressBar {
  background-color: #e91d63;
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 0;
}
